# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react-test/node_modules
/react-test/.pnp
/react-test/.pnp.js

# testing
/react-test/coverage

# production
/react-test/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/react-test/npm-debug.log*
/react-test/yarn-debug.log*
/react-test/yarn-error.log*
/react-test/.eslintcache
/react-test/package-lock.json

/.idea/**
/spring-service/spring-service.iml
/tasks-spring-service/tasks-spring-service.iml
/tasks-spring-service/target/

*/package-lock.json
*/yarn.lock
/tasks-spring-service/.idea/
/tasks-react-app/.idea/
/task-admin-django-service/db.sqlite3
